{%extends "default_page.html" %}
{%block content%}

<main class=" col-sm-12 col-xs-12 main main-expand-lg bg-body-tertiary">
    <div class="card text-black bg-secondary mb-3" style=" padding: 50px; max-width: 40rem;">
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='images/' + novel['cover_image']) }}" class="card-img-top"
                alt="Book Cover">
            <div class="card-body">
                <h5 class="card-title">{{novel.name}}</h5>
                <p class="card-text">{{novel.description}}</p>
                <p class="card-text"><small class="text-muted">{{novel.publish_date}}</small></p>
                <p class="card-text">{{novel.chapters}}</p>

            </div>
        </div>
    </div>
    <!-- <h1>{{novel.name}}</h1>
    <p>{{novel.description}} - {{novel.chapters}}</p> -->
</main>
{%endblock%}