{%extends "default_page.html" %}
{%block content%}
<!-- <div class="row">

        <nav class="col-sm-12 col-xs-12 navbar navbar-expand-lg bg-body-tertiary" style="background-color: #f5deb3;">
            <ul class="container-fluid">
                <li class="list-inline-item"><a class="navbar-link" href=""></a></li>
                <li class="list-inline-item"><a class="navbar-link" href=""></a></li>
                <li class="list-inline-item"><a class="navbar-link" href=""></a></li>

            </ul>
        </nav>

    </div> -->
<!-- <a href="#" style="float: right;" class="btn btn-secondary">Login</a></button> -->
<main>
    <h1 class="text-center"> Ongoing</h1>

    <div class="row">
        <div>
            {% if novels %}
            <div class="flex-cont">


                {% for novel in novels %}
                <div id="myDIV">
                    <img src="{{ url_for('static', filename='images/' + novel['cover_image']) }}" alt="Book Cover">
                    <h4 class="text-center">{{ novel["novel_title"] }}</h4>
                    <p>Novel Genre: {{ novel["genre"] }}</p>
                    <p>Description: <i>{{ novel["description"][:70] }}...</i></p>
                    <p>Author: <em>{{ novel["author"]}}</em></p>
                    <p><sub>Published Date: {{date}}</sub> </p>

                    <p class="text-center"><a href="/novel/{{novel['novel_id']}}/{{novel['novel_title']}}"
                            class="btn btn-primary">📖 Read
                            Now!</a></p>


                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No novels uploaded yet.</p>
            {% endif %}

        </div>

    </div>
</main>



{%endblock%}