{%extends "admin_dashboard.html"%}
{%block content%}
<h2 class="mt-4"> 📂 Available Pages</h2>
<div class="table-container table-responsive">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image_filename</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for data in page %}

        <tbody id="pagesTableBody">
            <!-- Example row -->
            <tr data-page-id="{{ data.page_id }}">
                <td>{{ data.id }}</td>
                <td><input type="text" class="slugInput" value="{{ data.slug }}"></td>
                <td><input type="text" class="titleInput" value="{{ data.title }}"></td>
                <td><textarea class="contentInput">{{ data.content }}</textarea></td>
                <td><input type="text" class="imageInput" value="{{ data.image_filename }}"></td>
                <td><button class="btn btn-warning updatePageBtn">Update</button></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<script>
    document.querySelectorAll('.updatePageBtn').forEach(button => {
        button.addEventListener('click', () => {
            const row = button.closest('tr');
            const pageId = row.getAttribute('data-page-id');

            const slug = row.querySelector('.slugInput').value.trim();
            const title = row.querySelector('.titleInput').value.trim();
            const content = tinymce.getAttribute('contentInput').get();
            const image_filename = row.querySelector('.imageInput').value.trim();

            fetch(`/pages/${pageId}/update`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    slug,
                    title,
                    content,
                    image_filename
                })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        alert('Page updated!');
                    } else {
                        alert(data.error || 'Update failed');
                    }
                });
        });
    });

    tinymce.init({
        selector: ".contentInput",
        height: 300,
        menubar: false,
        plugins: 'advlist autolink lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table code help wordcount',
        toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
    });</script>

</script>

{%endblock%}