{%extends "admin_dashboard.html"%}
{%block content%}
<h2 class="mt-4"> 🔧 Available Pages</h2>
<div class="table-container table-responsive">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image_filename</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in page %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data['slug'] }}</td>
                <td>{{ data['title'] }}</td>
                <td>{{ data['content'] }}</td>
                <td>{{data['image_filename']}}</td>
                <td>
                    <form action="" method="Put">
                        <button type="submit" class="btn btn-sm btn-warning">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}