#wrapper {
    margin: 0px 0px;
    padding: 0px;
    width: 100%;
    color: #1e1e2e;
}

nav {
    height: auto;
    background-color: #8b5a2b;
}

#footer {
    height: auto;
    background-color: #8b5a2b;
}

main {
    background-color: #f5deb3;
    height: auto;

}


li>a {
    color: black;
}


#myDIV {
    width: 27vw;
    height: auto;
    background-color: #1e1e2e;
    margin: 11px 30px;
    padding: 10px;
    border-radius: 30px;


}

#myDIV>p {
    color: #f5deb3;
}

h1,
h2,
h3 {
    color: #f5deb3;
}


.flex-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    flex-direction: row;
    justify-content: left;
    background-color: #f5deb3;
}


.flex-cont>div {
    padding: 2px 5px;
    font: 1.5;
}


img {
    border-radius: 15%;
    border: 2px solid #8b5a2b;
    margin: 70px;
    width: 50%;
    height: auto;
    margin: 25%;
}